# ignore all logs
*.log
*.cache
*.pdb
*.exe
*.txt
*.dll
*.suo
*.ddl
*.json


Technofair.SMS/.vs/Technofair.SMS/FileContentIndex/23377bc4-ce3a-469c-a2a3-714b619a0e09.vsidx
*.vsidx
Technofair.SMS/packages/
Technofair.SMS/TF.API/obj/
Technofair.SMS/TF.API/obj/Debug/
Technofair.SMS/TF.Contract/obj/
Technofair.SMS/TF.API/obj/
Technofair.SMS/.vs/
Technofair.SMS/Technofair.SMS/obj/
Technofair.SMS/TF.Contract/bin/
Technofair.SMS/Technofair.Helpers/obj/Technofair.Helpers.csproj.nuget.dgspec.json
Technofair.SMS/Technofair.Helpers/obj/
Technofair.SMS/Technofair.SMS/bin/Debug/
TF.Contract/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TF.API/obj/project.assets.json
TF.API/obj/Debug/net6.0/TF.API.AssemblyInfo.cs
*.targets
Technofair.SMS/obj/Debug/net6.0/Technofair.SMS.AssemblyInfo.cs
*.props
Technofair.Domain/obj

Technofair.Helpers/obj

TF.API/obj
TF.Contract/obj
Technofair.SMS/obj
Technofair.Repository/obj
Technofair.Domain/obj
Technofair.Repository/obj
Technofair.Helpers/obj
Technofair.Infrastructure/obj
Technofair.IRepository/obj
Technofair.SMS/obj/
Technofair.Helpers/bin/

TF.API/bin
TF.Contract/bin/
Technofair.SMS/bin/
Technofair.Repository/bin/
Technofair.Domain/bin/
Technofair.Repository/bin/
Technofair.Helpers/bin/
Technofair.Infrastructure/bin/
Technofair.IRepository/bin/
Technofair.SMS/bin/
Technofair.Data/bin
Technofair.Data/obj

Technofair.SMS/Properties/PublishProfiles/FolderProfile1.pubxml
.vs/ProjectEvaluation/technofair.sms.metadata.v5.2
.vs/ProjectEvaluation/technofair.sms.projects.v5.1
.vs/ProjectEvaluation/technofair.sms.projects.v5.2
.vs/Technofair.SMS/config/applicationhost.config
.vs/Technofair.SMS/DesignTimeBuild/.dtbcache.v2
.vs/Technofair.SMS/FileContentIndex/read.lock
.vs/Technofair.SMS/v17/.futdcache.v2
Technofair.SMS/Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/Technofair.SMS/FileContentIndex/write.lock
Technofair.SMS/Properties/PublishProfiles/FolderProfile.pubxml
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Release/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
Teachnofair.CasAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
Teachnofair.CasAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.MvcApplicationPartsAssemblyInfo.cs
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.MvcApplicationPartsAssemblyInfo.cs
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.MvcApplicationPartsAssemblyInfo.cs
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/
Teachnofair.CasAPI/bin/Debug/net6.0/appsettings.json
Teachnofair.CasAPI/bin/
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/
Teachnofair.CasAPI/obj/
Teachnofair.CasAPI/Properties/
Teachnofair.CasAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
.vs/ProjectEvaluation/technofair.sms.metadata.v6.1
.vs/ProjectEvaluation/technofair.sms.projects.v6.1
Teachnofair.CasAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Teachnofair.CasAPI/obj/Release/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/bin/Debug/net6.0/Teachnofair.CasAPI.deps.json
Teachnofair.CasAPI/bin/Debug/net6.0/Teachnofair.CasAPI.deps.json
Teachnofair.CasAPI/obj/Debug/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Teachnofair.CasAPI/obj/project.assets.json
Teachnofair.CasAPI/obj/Release/net6.0/Teachnofair.CasAPI.GeneratedMSBuildEditorConfig.editorconfig
Teachnofair.CasAPI/obj/Teachnofair.CasAPI.csproj.nuget.dgspec.json
Technofair.Lib/bin/
Technofair.SMS/Helper/
Technofair.Model/obj/
Technofair.Lib/obj/
Technofair.Model/obj/
Technofair.Service/obj/
Technofair.Service/obj/Debug/
Technofair.Model/obj/Debug/
Technofair.Model/obj/project.assets.json
Technofair.Model/obj/project.assets.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Model/obj/Debug/net6.0/Technofair.Model.GeneratedMSBuildEditorConfig.editorconfig
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Model/obj/Debug/net6.0/Technofair.Model.GeneratedMSBuildEditorConfig.editorconfig
Technofair.BGService/bin/Release/net6.0/appsettings.json
Technofair.BGService/bin/Release/net6.0/Technofair.BGService.deps.json
Technofair.BGService/bin/Release/net6.0/Technofair.BGService.runtimeconfig.json
Technofair.BGService/obj/project.assets.json
Technofair.BGService/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.AssemblyInfo.cs
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.GlobalUsings.g.cs
Technofair.BGService/obj/Technofair.BGService.csproj.nuget.dgspec.json
ReportDesigner/bin/Release/net6.0/ReportDesigner.deps.json
ReportDesigner/obj/Release/net6.0/ReportDesigner.AssemblyInfo.cs
Technofair.BGService/bin/Release/net6.0/appsettings.Development.json
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
ReportDesigner/obj/project.assets.json
ReportDesigner/obj/project.assets.json
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/project.assets.json
ReportDesigner/obj/project.assets.json
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.csproj.BuildWithSkipAnalyzers
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.GeneratedMSBuildEditorConfig.editorconfig
Technofair.Model/obj/project.assets.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
ReportDesigner/obj/Release/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
Technofair.Model/bin/Release/net6.0/Technofair.Model.deps.json
Technofair.BGService/obj/Release/net6.0/Technofair.BGService.csproj.CopyComplete
Technofair.Service/bin/Release/net6.0/Technofair.Service.deps.json
*.cs
/ReportDesigner/obj/Debug/net6.0
/ReportDesigner/obj/Debug/net6.0
/ReportDesigner/obj/Debug/net6.0
/ReportDesigner/obj/Debug/net6.0
/ReportDesigner/obj
/ReportDesigner/obj
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/obj/Debug/net6.0/Technofair.BGService.AssemblyInfo.cs
Technofair.BGService/obj/Debug/net6.0/Technofair.BGService.GeneratedMSBuildEditorConfig.editorconfig
Technofair.CAS/obj/project.assets.json
Technofair.CAS/obj/Technofair.CAS.csproj.nuget.dgspec.json
Technofair.Model/obj/project.assets.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Utiity/obj/project.assets.json
Technofair.Utiity/obj/Technofair.Utiity.csproj.nuget.dgspec.json
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
Technofair.SMS/wwwroot/DB Backup/DB.ZIP
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/obj/Debug/net6.0/Technofair.BGService.AssemblyInfo.cs
Technofair.BGService/obj/Debug/net6.0/Technofair.BGService.GeneratedMSBuildEditorConfig.editorconfig
Technofair.CAS/obj/project.assets.json
Technofair.CAS/obj/Technofair.CAS.csproj.nuget.dgspec.json
Technofair.Model/obj/project.assets.json
Technofair.Model/obj/Technofair.Model.csproj.nuget.dgspec.json
Technofair.Utiity/obj/project.assets.json
Technofair.Utiity/obj/Technofair.Utiity.csproj.nuget.dgspec.json
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.AssemblyInfo.cs
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/Debug/net6.0/ReportDesigner.GeneratedMSBuildEditorConfig.editorconfig
ReportDesigner/obj/ReportDesigner.csproj.nuget.dgspec.json
Technofair.BGService/bin/Debug/net6.0/Technofair.BGService.deps.json
Technofair.BGService/obj/Debug/net6.0/Technofair.BGService.AssemblyInfo.cs
*.editorconfig
*.editorconfig
